header{
    background-color: black;
    color: white;
}
footer{
    background-color: #999;
    color: black;
    margin-top: 10px;
}

section{
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;

}
div{
    margin: auto;
}
button{
    margin:auto;
}
img {
    float: left;
    margin-right: 5px;
  }